@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-red: #E53935;
  --brand-green: #00A651;
  --brand-green-dark: #00754F;
  --brand-gold: #FFC107;
  --brand-blue: #003DA5;

  --text-primary: #000304;

  --bg-white: #FFFFFF;
}
